<div class="flex h-screen flex-col bg-gray-100">

  <!-- Main Content -->
  <div class="flex flex-1">
    <!-- Lista de usuarios -->
    <div class="w-1/4 bg-gray-200 p-4 overflow-y-auto">
      <h2 class="text-lg font-semibold mb-2">Usuarios Conectados</h2>
      <ul>
        <li *ngFor="let user of userList"
            (click)="selectUser(user.socketId)"
            class="p-2 mb-2 cursor-pointer rounded hover:bg-blue-200">
          {{ user.userName }}
        </li>
      </ul>
    </div>

    <!-- Chat Section -->
    <div class="flex-1 bg-white p-4 flex flex-col">
      <!-- Messages Section -->
      <div class="flex-1 overflow-y-auto mb-4">
        <div *ngFor="let message of messages" class="p-2 my-2 rounded-lg">
          <strong>{{ message.senderId }}:</strong> {{ message.msg }}
        </div>
      </div>

      <!-- Input Section -->
      <div class="flex items-center">
        <input [(ngModel)]="newMessage"
               (keyup.enter)="sendMessage()"
               placeholder="Escribe un mensaje..."
               class="flex-1 p-2 border rounded" />
        <button (click)="sendMessage()" class="ml-2 p-2 bg-blue-500 text-white rounded">Enviar</button>
      </div>
    </div>
  </div>
</div>
