<div class="flex flex-col h-screen">
  <!-- Encabezado -->
  <header class="flex items-center justify-between p-4 bg-white shadow-md">
    <h1 class="text-xl font-bold">Task Board</h1>
  </header>
  <!-- Tablero -->
  <main class="flex-grow p-6 bg-gray-100">
    <div class="grid grid-cols-3 gap-6">
      <!-- Iterar sobre las columnas -->
       @for (card of cards; track card.id) {
        <div
        class="column bg-white rounded-lg shadow p-4 overflow-y-auto overflow-x-hidden custom-scroll max-h-[calc(100vh-200px)]"
        [attr.data-id]="card.id"
        >
          <!-- Título de la columna -->
          <h2 class="text-lg font-semibold mb-3">{{ card.title }}</h2>
          <!-- Lista de tareas -->
          <div class="task-list space-y-4" [attr.data-column-id]="card.id">
            <!-- Iterar sobre las tareas -->
            @for (task of card.tasks; track task.id) {
              <div
              class="task p-4 rounded-lg shadow-lg cursor-move transform transition-transform duration-250 ease-in-out select-none"
              [attr.data-task-id]="task.id"
              [ngStyle]="{'background-color': card.color}"
              >
                <app-card
                [titulo]="task.title"
                [categoria]="task.categoria"
                [prioridad]="task.prioridad"
                [descripcion]="task.descripcion"
                />
              </div>
            }
          </div>
        </div>
       }
    </div>
  </main>
</div>
