<div class="flex gap-4 p-4">
  <!-- Columna: Tareas Pendientes -->
  <div id="pending" class="kanban-column bg-gray-100 border p-4 rounded-lg shadow-md w-1/3 h-[55em]">
    <h2 class="text-lg text-center font-semibold mb-4 text-gray-700">Tareas Pendientes</h2>
    <div id="pending-tasks" class="space-y-4 flex flex-col items-center">
      @for (task of tasks; track task.id) {
        @if (task.status === 'Pendiente') {
          <div
            class="kanban-task bg-[#D0DCF8] w-[29em] h-48 p-3 rounded shadow-md cursor-pointer border"
            [attr.data-id]="task.id"
            draggable="true"
          >
            <app-card
              [id]="task.id"
              [titulo]="task.titulo"
              [categoria]="task.categoria"
              [prioridad]="task.prioridad"
              [status]="task.status"
              [limite]="task.fecha_limite | date:'shortDate'"
              [hora]="task.hora_limite"
              [descripcion]="task.descripcion"
            />
          </div>
        }
      }
    </div>
  </div>
  <!-- Columna: Tareas en Progreso -->
  <div id="in-progress" class="kanban-column bg-gray-100 border p-4 rounded-lg shadow-md w-1/3">
    <h2 class="text-lg text-center font-semibold mb-4 text-yellow-700">Tareas en Progreso</h2>
    <div id="in-progress-tasks" class="space-y-4">
      @for (task of tasks; track task.id) {
        @if (task.status === 'En proceso') {
          <div
            class="kanban-task bg-[#F9E3CE] w-[29em] h-48 p-3 rounded shadow-md cursor-pointer border"
            [attr.data-id]="task.id"
            draggable="true"
          >
              <app-card
              [id]="task.id"
              [titulo]="task.titulo"
              [categoria]="task.categoria"
              [prioridad]="task.prioridad"
              [status]="task.status"
              [limite]="task.fecha_limite | date:'shortDate'"
              [hora]="task.hora_limite"
              [descripcion]="task.descripcion"
            />
          </div>
        }
      }
    </div>
  </div>
  <!-- Columna: Tareas Completadas -->
  <div id="completed" class="kanban-column bg-gray-100 border p-4 rounded-lg shadow-md w-1/3">
    <h2 class="text-lg text-center font-semibold mb-4 text-green-700">Tareas Completadas</h2>
    <div id="completed-tasks" class="space-y-4">
      @for (task of tasks; track task.id) {
        @if (task.status === 'Completada') {
          <div
            class="kanban-task bg-[#C4F4E6] w-[29em] h-48 p-3 rounded shadow-md cursor-pointer border"
            [attr.data-id]="task.id"
            draggable="true"
          >
              <app-card
              [id]="task.id"
              [titulo]="task.titulo"
              [categoria]="task.categoria"
              [prioridad]="task.prioridad"
              [status]="task.status"
              [limite]="task.fecha_limite | date:'shortDate'"
              [hora]="task.hora_limite"
              [descripcion]="task.descripcion"
            />
          </div>
        }
      }
    </div>
  </div>
</div>
