<div class="flex h-screen">
  <main class="flex-1 overflow-y-auto">
    <!-- Header -->
    <div class="flex flex-1 justify-end p-8 items-center space-x-4">
      <div class="relative">
        <button (click)="toggleDropdown()" class="bg-blue-200 p-2 rounded-full shadow-xl transform transition-all duration-300 hover:scale-105">
          <svg class="text-2xl" height="24px" width="24px" text-gray-800 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
          </svg>
          <span class="absolute top-0 right-0 h-5 w-5 bg-red-500 text-white rounded-full flex items-center justify-center text-xs font-bold">4</span>
        </button>

        <div *ngIf="dropdownOpen" (click)="closeDropdown()" class="fixed inset-0 h-full w-full z-10"></div>
        <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20" style="width:20rem;">
          <div class="py-2">
            <a href="#" class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
              <img class="h-8 w-8 rounded-full object-cover mx-1" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar">
              <p class="text-gray-600 text-sm mx-2">
                <span class="font-bold">User</span> Terminó la actividad <span class="font-bold text-blue-500">Actividad</span> artical. 2 minutos.
              </p>
            </a>
            <!-- Agrega más elementos de la lista como los ejemplos anteriores -->
          </div>
        </div>
      </div>

      <!-- Contenedor de Usuario -->
      <div class="bg-blue-100 flex items-center space-x-2 rounded-full shadow-xl w-[10em] transform transition-all duration-300 hover:scale-105">
        <div class="relative">
          <img src="https://github.com/Dotdae.png" alt="User Avatar" class="w-10 h-10 rounded-full border-2 border-white shadow">
          <span class="absolute bottom-0 right-0 h-3 w-3 bg-green-500 rounded-full border-2 border-white"></span> <!-- Punto de estatus -->
        </div>
        <div class="flex flex-col">
          <span class="font-medium">Chris</span> <!-- Nombre del usuario -->
          <span class="text-sm text-gray-500">Desarrollador</span> <!-- Puesto del usuario -->
        </div>
      </div>
    </div>
  </main>
</div>
